#content-container {
    display: grid;
    grid-template-columns: 1fr;
}

#content-container > div:nth-child(1) {
    border-bottom: 2px solid white;
}

#content-container > div:nth-child(n + 2):nth-child(odd) {
    background-color: #252525;
}

#content {
    column-gap: 20px;
    display: grid;
    padding: 10px;
    grid-template-columns: .6fr .1fr .1fr .1fr .1fr;
}

#content div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#content div span.clickable {
    cursor: pointer;
    transition-duration: .15s;
}

#content div span.clickable:hover {
    color: #744545;
}