#navigation-bar {
    gap: 10px;
    display: grid;
    padding: 10px;
    /* border-bottom: 2px solid white; */
    border-top: 2px solid white;
    grid-template-columns: repeat(auto-fit, minmax(110px, 0.1fr));
}

#navigation-bar label {
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 7px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition-duration: .15s;
}

#navigation-bar label:hover {
    background-color: #616161;
    color: #dedede;
}

#uploadFiles {
    opacity: 0;
    top: -9999px;
    left: -9999px;
    position: absolute;
}

#uploadFolder {
    opacity: 0;
    top: -9999px;
    left: -9999px;
    position: absolute;
}